option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: staging
    DB_NAME: defaultdb
    DB_HOST: www.example.com/api
    DB_USER: doadmin
    DB_PASSWORD: www.example.com/api
    DB_PORT: 25060
    JWT_SECRET: 123456
    JWT_TOKEN_EXPIRES_IN_SECONDS: 86400
    OTP_EXPIRES_IN_SECONDS: 300
    PORT: 8000
    GOOGLE_MAPS_URL:https://maps.googleapis.com/maps/api
    GOOGLE_MAPS_CLIENT_KEY:
    REDIS_HOST:redis://localhost:6379
    REDIS_SECRET:Geh2qoPRpHEFf3HgfSmrsO7Z0MDO6vam
    HUBTEL_SMS_CLIENT_ID:
    HUBTEL_SMS_CLIENT_SECRET:
    HUBTEL_SMS_CLIENT_URL:
    HUBTEL_SMS_CLIENT_FROM:PlayTestSms