option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8000
    DB_HOST: 123456
    DB_NAME: defaultdb
    DB_USER: doadmin
    DB_PASSWORD: 123456
    DB_PORT: 25060
    OTP_EXPIRES_IN_SECONDS: 300
    JWT_SECRET: 123456
    JWT_TOKEN_EXPIRES_IN_SECONDS: 86400